* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto;

}

body {
    width: 1600px;
}


/* header styles */
header {
    background-image: url(../images/banner/banner1.png);
    height: 808px;
    width: 1600px;

}

.header-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    padding: 220px 0px 0px 0px;
    margin: 0px 230px 0px 830px;
    /* border: solid black 5px; */
}

.header-text {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    width: 500px;
    margin: 10px 230px 10px 850px;
    /* border: solid black 5px; */
    line-height: 1.5;
}

.header-btn {
    width: 160px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: 10px 255px 0px 1190px;
}

/* failures div styles */

.failures-div {
    display: flex;
}

.failures-picture {
    width: 530px;
    margin: 150px 130px 150px 230px;
    /* border: solid black 4px; */
}

.failures-collumn {
    margin: 370px 450px 0px 0px;
    /* border: solid black 5px; added border to visualise margin and padding */

}

.failures-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    margin: 0;
    /* border: solid black; */
}

.failures-text {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    width: 420px;
    line-height: 1.5;
}

.failures-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

}

.failures-list li {
    list-style: square;
    /* have to make a check list icon /style */
}

.my-plans-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.plans-section {
    display: flex;
    margin: 100px 0px;
}

.plans-title {
    text-align: center;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.plans-text {
    text-align: center;
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}

.plans-img{
    width: 95px;
    margin: 0px auto;
}

.plans-container{
    text-align: center;
}